* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: aliceblue;
}
body {
  background-color: rgb(66, 64, 64);
}

/* Menu */
.top-menu {
  border: 1px yellow dashed;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo img {
  width: auto;
  height: 4vh;
}
.search {
  display: center;
}
.search li {
  display: inline;
}
.menu li {
  display: inline;
}
.top-menu nav ul {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */
}

/* links */
a {
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  background-color: lightgray;
  transform: scale(2);
}

/*  Main   */
.main-container {
  display: flex;
  border: 1px red dashed;
}
.side-menu {
  width: 16vw;
}
.main {
  display: flex;
  width: 84vw;
  /* height: 82vh; */
  border: 2px rgb(9, 21, 121) dashed;
  display: flex;
  flex-direction: column;
}
.banner {
  height: 21vh;
  border: 1px pink dashed;
}
.channel {
  height: 16vh;
  border: 1px lightseagreen dashed;
}
/* footer */
.footer-menu {
  border: 1px green dashed;
  width: 100vw;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
