* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: aliceblue;
  font-family: "Roboto-Light";
}
body {
  background-color: rgb(66, 64, 64);
}

/* Menu */
.top-menu {
  border: 1px yellow dashed;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo img {
  align-content: left;
  width: auto;
  height: 4vh;
}
.search {
  display: center;
}
.search li {
  display: inline;
}
.menu li {
  display: inline;
}
.top-menu nav ul {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.channel-nav ul {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
i {
  font-size: 1.3em;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
  /* transition: 0.5s; */
}
a {
  font-size: 1.3em;
  padding-left: 1px;
  margin-left: 1px;
  text-decoration: none;
  /* transition: 0.5s; */
  margin-left: 2vh;
}
a:hover {
  background-color: lightgray;
  transform: scale(2);
}

/*  Main   */
.main-container {
  display: flex;
  border: 1px red dashed;
}
.side-menu {
  width: 16vw;
  border: 1px yellow dashed;
  /* width: fit-content; */
  /* justify-content: center; */
  justify-content: space-around;
  justify-content: space-evenly;
}
hr {
  margin: 1vw;
  border-top: 0.5px #ece9e9 solid;
  border-radius: 10%;
}
.side-menu h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  /* width: initial; */
  padding: 1vh;
  margin: 1vw;
}

.banner-container {
  width: 84vw;
  height: 16vh;
  border: 1px yellowgreen dashed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner-image {
  width: 84vw;
  height: 9vh;
  border: 1px red dashed;
}
.banner-subscribe {
  width: 84vw;
  height: 5vh;
  border: 1px red dashed;
}
button {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1vh;
  margin-left: 60vw;
  background-color: red;
}
.channel-menu {
  width: 84vw;
  height: 16vh;
  border: 1px red dashed;
}
ul {
  list-style: none;
}
.channel-menu li {
  display: inline;
}
/* footer */
.footer-menu {
  border: 1px green dashed;
  width: 100vw;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
